@using SpaceTraders.Services.Data
@inject GameStatusService StatusService
<h3>@status</h3>

@code {
    private string status = "Checking Status...";

    protected override async Task OnInitializedAsync()
    {
        status = (await StatusService.GetStatus()).Status;
    } 
}