@using SpaceTraders.Shared.Components.Nav
@using SpaceTraders.Features.LoginFeature.State
@using Fluxor
@inject NavigationManager NavigationManager
@inject IState<LoginState> LoginState
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (!LoginState.Value.IsLoggedIn)
        {
            NavigationManager.NavigateTo("/");
        }
    }
}
